<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Especialidad — Clínica</title>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Source+Serif+4:wght@600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../../public/assets/design/navbar.css">
  <link rel="stylesheet" href="../../public/assets/design/stylefooter.css">
<link rel="stylesheet" href="../../public/assets/design/style-detalleEspecialidades.css">
  <script src="../../public/assets/engine/navbar.js" defer></script>
  <script src="../../public/assets/engine/footer.js" defer></script>
  <script src="../../public/assets/engine/especialidades-data.js"></script>
  <script src="../../public/assets/engine/doctors-data.js"></script>

</head>
<body>

  <div id="navbar-container"></div>

  <nav class="breadcrumb">
    <a href="#"><svg viewBox="0 0 20 20"><path d="M10 2L2 9h2v9h5v-5h2v5h5V9h2L10 2z"/></svg></a>
    <span>›</span>
    <a href="especialidades.html">Especialidades</a>
    <span>›</span>
    <span id="breadcrumb-nombre">Especialidad</span>
  </nav>

  <div id="page-content"></div>

  <div class="footer-border"></div>
  <div id="footer-container"></div>

  <script src="../../public/assets/engine/detalle-especialidades.js" defer></script>

</body>
</html>