<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Clínica Médica — Acceso</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=DM+Sans:wght@300;400&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="../../public/assets/design/loginstyle.css">
</head>

<body>

  <div class="form-rigth">
    <div class="right-cross"></div>
    <div class="right-content">
      <span class="right-tag">Clínica Internacional</span>
      <h1 class="right-title">Cuidamos<br>cada <em>detalle.</em></h1>
      <div class="right-line"></div>
    </div>
  </div>

  <div class="form-left">

    <div class="form">
      <div class="title-form">
        <h2>Bienvenidos</h2>
        <p>Ingrese sus credenciales</p>
        <div class="tile-lie"></div>
      </div>

      <label>CORREO ELECTRÓNICO</label>
      <input type="email" id="correo" placeholder="Correo@gmail.com" autocomplete="email" />
    </div>

    <div class="form">
      <label>CONTRASEÑA</label>
      <input type="password" id="contrasena" placeholder="contraseña" autocomplete="current-password" />
    </div>

    <p class="error-msg" id="errorMsg"></p>

    <div class="form-option">
      <label class="remenber">
        <input type="checkbox" id="recordar">
        Recordar contraseña
      </label>
      <a href="#">¿Olvidaste tu contraseña?</a>
    </div>

    <button class="btn-login" id="btnLogin" onclick="login()">Iniciar sesión</button>

    <div class="form-acceso">
      <p>¿Necesita acceso?</p>
      <a href="#">Contacte a administración</a>
    </div>

  </div>

  <script src="../../public/assets/engine/login.js"></script>


</body>

</html>